converted/*.py
__pycache__
*.exe
*.dll
*.region
examples/CICST001.cbl
examples/CICST002.cbl
examples/CICST003.cbl
examples/CICST004.cbl
examples/*.cobol
examples/hw.cbl
temp/
.vscode/
work/
converted/*.txt
src/scratch.py
src/HELLOWO1.py
src/HELLOW12.py
src/cobol_variable.py
src/test-records.txt
*.config
*comm.txt
*eib.txt
copybooks/CABEHUHE.CPY
copybooks/CUTE2B31.CPY
temp_cpybook.txt
test-records-indexed.txt.dat
test-records-indexed.txt.idx
test-records.txt
hw_basic_out.txt
TEST/
JES/
JES2/
copybooks/*_copybook.txt
copybooks/CABCABST.CPY
copybooks/MNUCPY.CPY
copybooks/ERR020W.CPY
copybooks/DATEAREA.CPY
copybooks/CABCHCPC.CPY
copybooks/CABCBEHV.CPY
copybooks/CABCHIVS.CPY
copybooks/ELGCHMO.CPY
copybooks/CABCBDED.CPY
copybooks/CABCHCVS.CPY
copybooks/CABCHOEP.CPY
copybooks/CABEHTMN.CPY
copybooks/CIBCINTF.CPY
copybooks/CIOCPARM.CPY
copybooks/CABCALIN.CPY
copybooks/CABCBOI.CPY
copybooks/CABCMDPP.CPY