converted/*.py
__pycache__
*.exe
*.dll
examples/CICST001.cbl
examples/CICST002.cbl
examples/CICST003.cbl
examples/CICST004.cbl
examples/*.cobol
examples/hw.cbl
temp/
.vscode/
work/
converted/*.txt
src/scratch.py
src/HELLOWO1.py
src/HELLOW12.py
src/cobol_variable.py
src/test-records.txt
*.config
*comm.txt
*eib.txt
copybooks/CABEHUHE.CPY
temp_cpybook.txt